asn1crypto==0.24.0
certifi==2018.1.18
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
entrypoints==0.3
gnureadline==8.0.0
idna==2.8
jeepney==0.4
keyring==19.0.2
mkl-fft==1.0.13
mkl-random==1.0.4
mkl-service==1.0.0
numpy==1.16.2
prettytable==0.7.2
pycparser==2.19
PyYAML==4.1
requests==2.22.0
scipy==1.2.1
SecretStorage==3.1.1
six==1.11.0
TBB==0.1
urllib3==1.25.3
